<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd"
        >
    <!-- 配置controller -->
    <!--<bean id="userController" class="com.yuchen.controller.UserController">
        <property name="userService" ref="userService"></property>
    </bean>-->
    <!-- 配置service -->
    <!--<bean id="userService" class="com.yuchen.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>-->
    <!-- 配置dao -->
    <!--<bean id="userDao" class="com.yuchen.dao.UserDao"/>-->

    <!-- 将类扫描到IOC容器中 -->
    <context:component-scan base-package="com.yuchen"/>
</beans>